<!doctype html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0NLSYZ4DWJ"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

		gtag('config', 'G-0NLSYZ4DWJ');
	</script>


	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title }} | {{ metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">




	{% include "source/_includes/site-components/head-meta-tags.njk" %}

	{% include "source/_includes/site-components/head-css-tags.njk" %}
	<link href="/css/gridzy.min.css" rel="stylesheet">


</head>
<body>

	{% include "source/_includes/site-components/header.njk" %}

<main class="container-fluid">
	{{ content | safe }}
</main>

	{% include "source/_includes/site-components/footer.njk" %}

	{% include "source/_includes/site-components/footer-js-tags.njk" %}
</body>
</html>
