---
layout: layouts/base.njk
permalink: /posts/{{ title|slugURL }}-{{ date|slugURL }}/
---

<div class="container-fluid">
	<div class="row">
		{# LINK TO PREVIOUS POST #}
		{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
		{%- if previousPost %}
			<div class="col ps-5 text-start"><a href="{{ previousPost.url | url }}"><< {{ previousPost.data.title }}</a></div>
		{% endif %}

		{# LINK TO NEXT POST #}
		{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
		{%- if nextPost %}
			<div class="pe-5 col text-end"><a href="{{ nextPost.url | url }}">{{ nextPost.data.title }} >></a> </div>
		{% endif %}
	</div>
	<div class="pb-5 border-bottom mb-5">
		{{ content | safe }}
	</div><!-- end spacing -->


<h2 class="postTitle">{{postTitle}} <br>
<span>{{ date | postDateString }}</span></h2>
<div class="featuredImage">
	<img src="../../images/{{featuredImage}}" />
</div>

{% set photoData = ("source/images/" + featuredImage) | filterExifData %}
<p class="exif">EXIF: {{ photoData.camera}}, {{ photoData.shutterSpd }}, {{ photoData.fStop | formatFStop }}</p>
<p class="description">{{postDescription}}</p>

</div><!-- end container -->


