---
layout: layouts/base.njk
title: "Mikelangelo Let's Connect"
permalink: /connect/
homeSummary: "Mikelangelo Photography"
---

<div class="container-fluid">
	<div class="row align-items-start">
		<div class="col-md-12">
			<h2>Let's Connect</h2>

		</div>
	</div>
</div>
<div class="container-fluid">
<div class="row">
	<!-- {% include 'source/pages/page-components/blog-home-previous.njk' %} -->
</div>
	<!-- {% include "source/pages/page-components/latest-post.njk" %} -->

    {# This is an example of a page component #}


</div><!-- end container -->
