---
layout: layouts/base.njk
title: "Mikelangelo Let's Connect"
permalink: /connect/
homeSummary: "Mikelangelo Photography"
---

<div class="container-fluid">
	<div class="row align-items-start">
		<div class="col-md-12">
			<h2>Let's Connect</h2>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-6 mb-2">
						<ul>
							<li>Facebook: <a href="https://www.facebook.com/mikelangelophotography" target="_blank" class=""></a>https://www.facebook.com/mikelangelophotography <img src="/images/Facebook_Logo_Primary.png"  class="socialNav" alt="Mikelangelo Photography on Facebook" /></a></li>
							<li><a href="https://www.instagram.com/mikelangelo27/" target="_blank" class="">
								Instagram: www.instagram.com/mikelangelo27 <img src="/images/Instagram_Glyph_Gradient.svg" class="socialNav" alt="Mikelangelo on Instagram" />
							</a></li>
							<li><a href="mailto:mike@mikelangelo.com" type="email" class="">
								Email: mike@mikelangelo.com
							</a></li>
						</ul>
					</div>
				</div>
		</div>
	</div>
</div>
<div class="container-fluid">
<div class="row">
	<!-- {% include 'source/pages/page-components/blog-home-previous.njk' %} -->
</div>
	<!-- {% include "source/pages/page-components/latest-post.njk" %} -->

    {# This is an example of a page component #}


</div><!-- end container -->
