---
layout: layouts/base.njk
title: "Mikelangelo Photography"
description: "Motorsports and equestrian photographer focused on capturing effort, emotion, and motion. Known for calm, reliable presence in fast-paced environments and images that feel as real as the moment itself."
permalink: /
homeSummary: "Mikelangelo Photography"
---

<div class="container-fluid">
	<div class="row homeGallery">
		<div class="col imgCard gx-2 mb-2 d-md-none">
			<h2 class="text-center">
				<a href="https://www.facebook.com/mikelangelophotography" target="_blank" class="">
					<img src="/images/Facebook_Logo_Primary.png"  class="socialNav" alt="Mikelangelo Photography on Facebook" />
				</a>
				<a href="https://www.instagram.com/mikelangelo27/" target="_blank" class="">
					 <img src="/images/Instagram_Glyph_Gradient.svg" class="socialNav" alt="Mikelangelo Photography on Instagram" />
				</a>
			</h2>
		</div>
		<div class="col-12 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240622_20240622_BigO_1920.jpg" alt="Sprint cars at Big O Speedway in the sunset.">
		</div>
		<div class="col-md-6 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240622_20240622_BigO_0926.jpg" alt="Pure focus" class="h-100 object-fit-cover">
		</div>
		<div class="col-md-6 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240622_20240622_BigO_0502.jpg" alt="This is family." class="h-100 object-fit-cover">
		</div>
		<div class="col-md-6 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240330_20240330_BigO_3133.jpg" alt="Mini Sprint, A Class at Big O Speedway" class="h-100 object-fit-cover">
		</div>
		<div class="col-md-6 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240302_20240302_BigO_9437.jpg" alt="Factory Stock at Big O Speedway" class="h-100 object-fit-cover">
		</div>

			<div class="col-12 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240622_20240622_BigO_4484.jpg" alt="Sprint cars at Big O Speedway in the sunset.">
		</div>
		<div class="col-md-6 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240113_20240113_BigOSpeedway_9922.jpg" alt="Crown Vics at Big O Speedway" class="h-100 object-fit-cover">
		</div>
		<div class="col-md-6 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240113_20240113_BigOSpeedway_9073.jpg" alt="Late Model at Big O Speedway" class="h-100 object-fit-cover">
		</div>
		<div class="col-md-6 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240113_20240113_BigOSpeedway_4592.jpg" alt="Factory Stock Races at Big O Speedway" class="h-100 object-fit-cover">
		</div>
		<div class="col-sm-12 col-md-6 imgCard gx-2 mb-2">
			<img src="/images/homepage/jan26/20240112_20240113_BigOSpeedway_8444.jpg" alt="More Factory Stock at Big O Speedway" class="h-100 object-fit-cover">
		</div>
	</div>
</div>
<div class="container-fluid">
<!-- <div class="row"> -->
	<!-- {% include 'source/pages/page-components/blog-home-previous.njk' %} -->
<!-- </div> -->
	<!-- {% include "source/pages/page-components/latest-post.njk" %} -->



</div><!-- end container -->
