---
layout: layouts/base.njk
title: "Mikelangelo Photography"
permalink: /
homeSummary: "Mikelangelo Photography"
---

<div class="container-fluid">
	<div class="row align-items-start">
		<div class="col-md-12">
			<div class="container gallery-container">


					<div class="row">

						<div class="col-sm-12 col-md-4">
							<a href="#">
								<img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/bridge.jpg" alt="Bridge">
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="#">
								<img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/park.jpg" alt="Park">
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="#">
								<img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/tunnel.jpg" alt="Tunnel">
							</a>
						</div>
						<div class="col-sm-12 col-md-4">
							<a href="#">
								<img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/traffic.jpg" alt="Traffic">
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="#">
								<img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/rails.jpg" alt="Coast">
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="#">
								<img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg" alt="Rails">
							</a>
						</div>

					</div>

				</div>

			</div>

	</div>
</div>
<div class="container-fluid">
<div class="row">
	<!-- {% include 'source/pages/page-components/blog-home-previous.njk' %} -->
</div>
	<!-- {% include "source/pages/page-components/latest-post.njk" %} -->

    {# This is an example of a page component #}


</div><!-- end container -->
