---
layout: layouts/base-gallery.njk
title: "Pets: Mikelangelo Photography"
permalink: /portfolio/pets/
homeSummary: "Pet Portraits: Mikelangelo Photography"
---
<div class="container-fluid">
	<div class="row align-items-start homeGallery">
		<div class="col-sm-12 col-md-4 imgCard gx-2 mb-2 d-md-none">
			<h2 class="text-center">
				<a href="https://www.facebook.com/mikelangelophotography" target="_blank" class="d-block mb-3 mt-5"> Find me on Facebook <img src="/images/Facebook_Logo_Primary.png"  class="socialNav" alt="Mikelangelo Photography on Facebook" /></a>
				<a href="https://www.instagram.com/mikelangelo27/" target="_blank" class="d-block mb-3">
					Find me on Instagram <img src="/images/Instagram_Glyph_Gradient.svg" class="socialNav" alt="Mikelangelo on Instagram" />
				</a>
				<a href="mailto:mike@mikelangelo.com" type="email" class="mb-4 d-block">
					mike@mikelangelo.com
				</a>
			</h2>
		</div>
		<!-- <div id="myFilterControls">
			<button value="*">All</button>
			<button value=".pets">Pets</button>
			<button value=".architecture">Architecture</button>
			<button value=".people">People</button>
		</div> -->
		<div class="gridzy" data-gridzy-spaceBetween="15" data-gridzy-desiredWidth="400" data-gridzy-layout="waterfall">
			<img class="pets" src="/images/pets/_MG_8690.jpg" alt="Hero" />
			<img class="pets" src="/images/pets/_MG_7995.jpg" alt="CC" />
			<img class="pets" src="/images/pets/_MG_8668.jpg" alt="Peppy" />
			<img class="pets" src="/images/pets/IMG_4053.jpg" alt="Calipso Medium" />
			<img class="pets" src="/images/pets/IMG_4067.jpg" alt="Calipso Full Body" />
			<img class="pets" src="/images/pets/IMG_4099.jpg" alt="Calipso Close Up" />
			<img class="pets" src="/images/pets/IMG_4169.jpg" alt="Freya" />
			<!-- <img class="people" src="https://picsum.photos/id/64/640/480" alt="a people image" />
			<img class="pets" src="https://picsum.photos/id/584/640/480" alt="an animal image" />
			<img class="people architecture" src="https://picsum.photos/id/904/640/480" alt="a people with architecture image" />
			<img class="pets" src="https://picsum.photos/id/237/640/480" alt="another animal image" />
			<img class="architecture" src="https://picsum.photos/id/949/640/480" alt="an architecture image" />
			<img class="pets" src="https://picsum.photos/id/718/640/480" alt="yet another animal image" />
			<img class="people pets" src="https://picsum.photos/id/1012/640/480" alt="a people with animal image" />
			<img class="people" src="https://picsum.photos/id/129/640/480" alt="another people image" />
			<img class="architecture" src="https://picsum.photos/id/870/640/480" alt="another architecture image" /> -->
		</div>
	</div>
</div>
<div class="container-fluid">
<div class="row">
	<!-- {% include 'source/pages/page-components/blog-home-previous.njk' %} -->
</div>
	<!-- {% include "source/pages/page-components/latest-post.njk" %} -->

    {# This is an example of a page component #}


</div><!-- end container -->
