<header class="container-fluid mb-4 mb-4">

   	<div class="row">
	<nav class="navbar navbar-expand-md">
    <div class="container-fluid">

      <a class="navbar-brand" href="/"><img src="/images/Mikelangelo-horizontal-fullColor.png" alt = "{{ metadata.title }}" class="headerLogo image-fluid" /></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
			<i class="bi-list nav-icon"></i>
		</span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">

        <ul class="navbar-nav mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-body-emphasis" href="/about/">About</a>
          </li>
		  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Galleries
          </a>
          <ul class="dropdown-menu">
			<li class="dropdown-item">
            	<a class="nav-item nav-link link-body-emphasis" href="https://mikelangelo.client-gallery.com/category/motor-sports">Motorsports</a>
          	</li>
			<li class="dropdown-item">
            	<a class="nav-item nav-link link-body-emphasis" href="https://mikelangelo.client-gallery.com/category/rc">Motorsports</a>
          	</li>
			<li><hr class="dropdown-divider"></li>
		  	<li class="dropdown-item">
            	<a class="nav-link link-body-emphasis" href="#">Equestrian</a>
          	</li>
			<li><hr class="dropdown-divider"></li>
		  	<li class="dropdown-item">
            	<a class="nav-link link-body-emphasis" href="#">Pets</a>
          	</li>
			<li><hr class="dropdown-divider"></li>
		  	<li class="dropdown-item">
            	<a class="nav-link link-body-emphasis" href="#">Personal Work</a>
          </li>
          </ul>
        </li>
		<li class="nav-item">
			<a href="https://www.facebook.com/mikelangelophotography" target="_blank" class="nav-link">
				<i class="bi-facebook icon-ig"></i>
			</a>
		  </li>
	    <li class="nav-item">
			<a href="https://www.instagram.com/mikelangelo27/" target="_blank" class="nav-link">
				<i class="bi-instagram icon-fb"></i>
			</a>
		</li>
        </ul>
      </div>
    </div>
  </nav>
	</div>
</header><!-- end container -->


