<header class="container-fluid mb-4">
	<div class="row align-items-center justify-content-between py-1">

		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid d-flex justify-content-between">
				<div class="flex-grow-1">
				<a href="/" class="navbar-brand"><img src="/images/MikelangeloLogo_orange.png" alt = "{{ metadata.title }}" class="headerLogo" /></a>

			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		  </button>
				<div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
					<ul class="navbar-nav mb-2 mb-lg-0">
						<li class="nav-item"><a href="/galleries/" class="nav-link">Galleries</a></li>
						<li class="nva-item"><a href="/posts/" class="nav-link">Photoblog</a></li>
						<li class="nva-item"><a href="/about/" class="nav-link">About</a></li>
						<li class="nva-item"><a href="/connect/" class="nav-link">Let's Connect</a></li>
						<li class="nva-item"><a href="https://www.facebook.com/mikelangelophotography" target="_blank" class="nav-link"><img src="/images/Facebook_Logo_Primary.png"  class="socialNav" alt="Mikelangelo Photography on Facebook" /></a></li>
						<li class="nva-item"><a href="https://www.instagram.com/mikelangelo27/" target="_blank" class="nav-link"><img src="/images/Instagram_Glyph_Gradient.svg" class="socialNav" alt="Mikelangelo on Instagram" /></a></li>
					</ul>
				</div>
			</div>
			</div>

		</nav>
	</div><!-- end row -->
</header><!-- end container -->
