<header class="container-fluid mb-4">
	<div class="row align-items-center justify-content-between py-1">

		<h1 class="col-auto mb-0 siteTitle"><a href="/"><img src="/images/MikelangeloLogo_orange.png" alt = "{{ metadata.title }}" class="headerLogo" /></a></h1>

		<div class="col-auto">
			<a href="/galleries/" class="">Galleries</a> |
			<a href="/posts/" class="">Photoblog</a> |
			<a href="/about/" class="">About</a> |
			<a href="/connect/" class="">Let's Connect</a>
		</div>
	</div><!-- end row -->
</header><!-- end container -->
