body{
	/* background-color: #333; */
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #777777;
}

a:link,
a:visited,
a:hover,
a:active{
	color: #f6851f;
	text-decoration: none;
}

.nav-item a:hover{
	text-decoration: underline;
}

a.nav-link{
	color: #777;
}

a.nav-link:hover{
	color: #f6851f;
}

.nav-icon{
	color: #f6851f;
	font-size: 1.5em;
}

icon-fb,
icon-ig{
	font-size
}

main {
	min-height: 65vh;
}

.avatar{
	max-width: 100%;
}

img{
	width: 100%;
}
.headerLogo{
	width: 100%;
	max-width: 250px;
}

.socialNav{
	width: 25px;
	padding: 0 3px
}

.home-links a{
	display: block;
}

.postTitle{
	padding: 2rem 0;
	margin: 2rem auto;
	width: 75vw;
	max-width: 1024px;
	text-align: center;
}
.postTitle span{
	font-size: 13pt;
	color: #999;
	font-style: italic;
}

.featuredImage{
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.featuredImage img{
	width: 100%;
	max-width: 1024px;
}
.homeGallery .imgCard img.socialNav{
	width: 44px;
}
.siteTitle a{
	text-decoration: none;
	font-size: 1.5rem;
	color: #aaa;
}

.pageTitle{
	color: #f6851f;

}

.intro{
	/* font-size: 1.3rem; */
	line-height: 1.5;
	/* width: 75%; */
	/* margin-left: auto;
	margin-right: auto; */
}

.summary,
.description{
	padding: .5rem 0;
	margin: .5rem auto;
	width: 75vw;
	max-width: 1024px;
}

header{
	padding: 0;
}

.navbar-toggler{
 margin-left: auto;
 margin-top: -20px;
 margin-right: -15px;
}
.navbar-toggler-icon svg{
	width: 30px;
	height: 30px;
	color: #f6851f;
}
.navbar-toggler{
	border-color: orange;
}
.navbar-toggler:focus{
	box-shadow: none;
}
.homeGallery .imgCard,
.galleryPage .imgCard{
	overflow: hidden;
	margin-bottom: 1.2em;
}

.homeGallery .imgCard img,
.galleryPage .imgCard img{
	width: 100%;
}
li span,
.dropdown-divider ~ span{
	padding: .5em 1em;
	font-weight: bold;
	font-style: italic;
	color: orange;
}
link:hover,
.nav-link:focus,
.nav-link:focus.dropdown-toggle.show{
	color: orange;
}
.dropdown-item:hover{
	color: orange;
}
