body{
	background-color: #777;
	font-family: 'century-gothic', 'Vergana', Arial, sans-serif;
	font-weight: 400;
	font-style: normal
}

main {
	min-height: 65vh;
}

.featuredImage{
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-top: auto;
	text-align: center;

}

.siteTitle a{
	text-decoration: none;
	font-size: 1.5rem;
	color: #ccc;
}
