
{% set latestPost = collections.posts | head(-1) %}
{% set latestPostCounter = collections.posts | length %}

{% for post in latestPost %}

	<h3 class="postTitle">
		{{ post.data.title }}
		<br>
		<span>{{ post.date | htmlDateString }}</span>
	</h3>

	<div class="featuredImage">
		<img src="../../images/{{ post.data.featuredImage}}" />
	</div>

	<p class="summary">
		{{ post.data.postDescription }}
	</p>




{% endfor %}
