<div class="row">

<div class="mb-5 col ps-5 text-start">
	{% set postslist = collections.posts | head(-1) %}
	{% set postslistCounter = collections.posts | length %}
	{% include "source/pages/page-components/blog-home-previous.njk" %}
</div>

</div>

